

<div class="game-page">
  <div class="mx-auto w-90 topick-box">
    <p class="game-logo">トピつく。</p>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to "ゲーム開始",folder_path,class:"btn btn-info w-90 next" %>
  </div>
</div>