<% @folders.each do |folder| %>
  <div class="card mx-auto" style="width: 90%;">
    <div class="card-body">
      <span class="card-title"><%= folder.title %></span>
      <div class="float-right">
        <%= link_to "ゲーム開始",folder_path(folder),class: "btn btn-info" %>      
        <%= link_to "トピック一覧",folder_posts_path(folder),class: "btn btn-success" %>        
        <%= link_to "トピック投稿",new_folder_post_path(folder),class: "btn btn-primary" %>
        <%#="後で追加する" link_to "フォルダ削除",folder,method: :delete,class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>