<h1>Folders#index</h1>
<p>Find me in app/views/folders/index.html.erb</p>


<% @folders.each do |folder| %>
  <%= folder.id %>
  <%= link_to folder.title,folder_path(folder) %>
  <%= link_to "フォルダ削除",folder,method: :delete %>
  <hr>
<% end %>