<% 
=begin
%>

コメントアウトしてる場所

<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li class="pr-5 text-danger"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%
=end
%>