
<div class="top-wrapper text-center ">
  <h1>Random_talk(仮)</h1>
  <p>ランダムに表示されるトピック(話題)を自分で投稿できるアプリです。</p>
  <p>男女で盛り上げる話題、罰ゲーム、深い話などテーマに合ったトピックを作って遊んでみよう！</p>
  <div class="btn-wrapper">
    <a href="#" class="btn btn-success">遊び方</a>
    <p></p>
    <a href="#" class="btn btn-info">さっそく遊ぶ！</a>
  　<p></p>
    <a href="#" class="btn btn-primary">新規登録</a>
    <p></p>
    <a href="#" class="btn btn-warning">ログイン</a>
  </div>
</div>
    <div class="how-to-wrapper">
      <div>
        <div class="heading">
          <h2>遊び方</h2>
        </div>
        <div class="contents">
          <div class="how-to">
            <p>STEP1</p>
            <div class="how-to-icon">
              <img src="https://prog-8.com/images/html/advanced/html.png">
              <p>フォルダを作る</p>
            </div>
            <p class="text-contents">異性にしたい質問集、罰ゲーム、深い話など、テーマに沿ったフォルダ名を投稿しよう！</p>
          </div>
          <div class="how-to">
            <p>STEP2</p>
            <div class="how-to-icon">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png">
              <p>自分でトピックの投稿</p>
            </div>
            <p class="text-contents">フォルダのテーマに合った内容のトピックを投稿しよう！ググるといいトピックが見つかるのでおすすめ。</p>
          </div>
          <div class="how-to">
            <p>STEP3</p>
            <div class="how-to-icon">
              <img src="https://prog-8.com/images/html/advanced/ruby.png">
              <p>みんなでトピックの投稿</p>
            </div>
            <p class="text-contents">内容は匿名で追加されるので、誰がどんなトピックを追加したかわからないドキドキ感を味わうことができます。</p>
          </div>
          <div class="how-to">
            <p>STEP4</p>
            <div class="how-to-icon">
              <img src="https://prog-8.com/images/html/advanced/php.png">
              <p>トピックの実行</p>
            </div>
            <p class="text-contents">ゲームなどをして負けた人が、ランダムに表示されたトピックの内容を実行する</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>