
<div class="top-wrapper text-center">
  <h1>Random_talk(仮)</h1>
  <p>ランダムに表示されるトピック(話題)を自分で投稿できるアプリです。</p>
  <p>男女で盛り上げる話題、罰ゲーム、深い話などテーマに合ったトピックを作って遊んでみよう！</p>
  <div class="btn-wrapper">
    <a href="#" class="btn btn-primary">遊び方</a>
    <p></p>
    <a href="#" class="btn btn-info">さっそく遊ぶ！</a>
  </div>
</div>