/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
  background-color:#DDFFFF;
}

.container{
  margin: 40px auto; 
}

.header-logo{
  font-family:'Impact';
}

a{
  color:#000000;
  display:inline-block;
}

a:hover {
text-decoration: none;
}


li{
  list-style:none;
}

.submit-btn{
  margin-left:10px;
}

.game-btn{
  margin-top:30px;
  padding:10px 80px;
}

.card-title{
  font-size:27px;
  font-family:'sans-serif';
}

.form-control{
  display:block;
}


.fas{
  // color:	#005FFF;
  color:	#005FFF;
}



// new

.jumbotron{
  background-color:white;
}

// top

.top-wrapper {
  background-image: url(/top_page.jpg);
}