// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// show

.w-90{
  width:90%;
}

// .card{
//   height: 200px;
// }

    .box {
      width: 150px;
      height: 150px;
      background: skyblue;
      cursor: pointer;
      transition: 0.8s;
      /* アニメーションが変わる速度 */
      margin: 0 8px 8px 0;
      text-align: center;
      line-height: 150px;
      color:white;
    }
    
    .lose {
      background: rgb(55, 233, 55);
      /* transform: scale(0.5); */
      border-radius: 50%;
      transform: rotate(360deg) scale(0.9);
      // position: z-index: 0.5;
    }
    .win {
      background: rgb(224, 13, 94);
      /* transform: scale(0.5); */
      border-radius: 50%;
      transform: rotate(360deg) scale(0.9);
      // position: z-index: 0.5;
    }
    
    // .win {
    //   background: pink;
    //   border-radius: 50%;
    //   transform: rotate(360deg) scale(1.15);
    //   // position: z-index: 2;
    //   color:red;
    // }


