.form{
  width:300px;
}

.user-name-show{
  font-family:'Microsoft Sans Serif';
  font-size:35px;  
} 

.icon{
  width:40px;
  height:40px;
  border-radius: 20px;
  margin-right:10px;
}

.user-edit{
  float:right;
}