

<header class="navbar navbar-expand-xl navbar-light bg-light">
  <h1 class="header-logo">Random_talk(仮)</h1>
  <div class="float-right">
    <%= link_to "ファイル一覧", root_path %>
    <%= link_to "フォルダ投稿", new_folder_path %>
  </div>
</header>